<template>
     <li class="todo" :class="{ completed: todo.completed }">
         <div class="view">
             <input type="checkbox" v-model="todo.completed" @change="completeTodo(todo)" class="toggle">
             <label>{{todo.title}}</label>
             <button @click="removeTodo(todo)" class="destroy"></button>
         </div>
     </li>
    </template>
    <script>
    export default {
      name: "Todo",
      props: ["todo"], 

      methods: {
        removeTodo(todo) {
          this.$store.commit("CACHE_REMOVED", todo)
          this.$store.dispatch("DELETE_TODO", todo);
        },
        completeTodo(todo) {
          this.$store.dispatch("COMPLETE_TODO", todo);
          console.log('completed')
        }
      }
    };
    </script>